@{
    var roleCheck = Context.Items["RoleCheck"] as RoleCheck;
}

@using tl2_tp10_2023_InakiPoch.Repositories;
@using tl2_tp10_2023_InakiPoch.ViewModels;
@model MainPageViewModel;

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3 mb-2 text-center">Gestion de Tareas</h1>
        <p class="display-6 mb-5 text-center">Usuario: @roleCheck.LoggedUserName()</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <h2>Tableros Propios</h2>
            <p>@Model.PersonalBoards</p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Tareas Propias</h2>
            <p>@Model.PersonalTasks</p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Tareas Asignadas</h2>
            <p>@Model.AssignedTasks</p>
        </div>
        @if(roleCheck.IsAdmin()) {
            <div class="col-md-4 text-center">
                <h2>Total Usuarios</h2>
                <p>@Model.TotalUsers</p>
            </div>
            <div class="col-md-4 text-center">
                <h2>Total Tareas</h2>
                <p>@Model.TotalTasks</p>
            </div>
            <div class="col-md-4 text-center">
                <h2>Total Tableros</h2>
                <p>@Model.TotalBoards</p>
            </div>
        }
    </div>
</div>
