@{ 
    ViewData["Title"] = "Actualizar Tarea";
    var roleCheck = Context.Items["RoleCheck"] as RoleCheck;
}

@using tl2_tp10_2023_InakiPoch.ViewModels
@using tl2_tp10_2023_InakiPoch.Repositories
@model UpdateTaskViewModel

<div class="container">
    <div class="row col-md-6 mx-auto" style="margin-top: -150px;">
        <h1>@ViewData["Title"]</h1>
        <form asp-controller="Tasks" asp-action="Update">
            <input hidden asp-for = "@Model.Id">
            <input hidden asp-for = "@Model.IsOwner">
            <div class="form-group">
                <label for="name">Nombre de la tarea</label>
                @if(Model.IsOwner) {
                    <input asp-for = "@Model.Name" class="form-control" id="name" required>
                } else {
                    <input asp-for = "@Model.Name" class="form-control" id="name" disabled>
                    <input hidden asp-for = "@Model.Name">
                }
            </div>
            @if(!string.IsNullOrEmpty(Model.ErrorMessage)) {
                <p class="text-danger text-center">@Model.ErrorMessage</p>
            }
            <div class="form-group">
                <label for="description">Descripcion</label>
                @if(Model.IsOwner) {
                    <input asp-for = "@Model.Description" class="form-control" id="description">
                } else {
                    <input asp-for = "@Model.Description" class="form-control" id="description" disabled>
                    <input hidden asp-for = "@Model.Description">
                }
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                @if(Model.IsOwner) {
                    <select asp-for="@Model.Color" class="form-select">
                        <option value="Green" class="bg-green text-black">General</option>
                        <option value="Yellow" class="bg-yellow">Secundaria</option>
                        <option value="Red" class="bg-red text-white">Urgente</option>
                        <option value="Skyblue" class="bg-info text-white">Opcional</option>
                        <option value="Grey" class="bg-grey">Baja prioridad</option>
                        <option value="White">Alta prioridad</option>
                    </select>
                } else {
                    <select asp-for="@Model.Color" class="form-select" disabled>
                        <option value="Green" class="bg-green text-black">General</option>
                        <option value="Yellow" class="bg-yellow">Secundaria</option>
                        <option value="Red" class="bg-red text-white">Urgente</option>
                        <option value="Skyblue" class="bg-info text-white">Opcional</option>
                        <option value="Grey" class="bg-grey">Baja prioridad</option>
                        <option value="White">Alta prioridad</option>
                    </select>
                    <input hidden asp-for = "@Model.Color">
                }
            </div>
            <div class="form-group">
                <label for="state">Estado</label>
                <select asp-for="@Model.State" class="form-select">
                    <option value="Ideas">Ideas</option>
                    <option value="ToDo">ToDo</option>
                    <option value="Doing">Doing</option>
                    <option value="Review">Review</option>
                    <option value="Done">Done</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mx-auto mt-3">Actualizar</button>
        </form>
    </div>
</div>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}