@{
    ViewData["Title"] = "Tableros";
}

@using tl2_tp10_2023_IvanDMir.ViewModels;
@using tl2_tp10_2023_IvanDMir.repositorios;
@model GBViewModel;

<table class="table table-striped table-dark text-center" style="background-color: #343a40;">
    <thead>
        <tr>
            <th colspan="4">LISTA DE TABLEROS</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.TablerosAsignados.Any()) {
            <th colspan="4" class="text-center">TABLEROS PROPIOS</th>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Nombre del Propietario</th>
                <th scope="col">Opción</th>
            </tr>
            @foreach(Tablero tablero in Model.TablerosAsignados) {
                <tr>
                    <td>@tablero.Nombre</td>
                    <td>@tablero.Descripcion</td>
                    <td>@tablero.NombreUsuarioPropietario</td>
                    <td>
                        <button class="btn btn-success">
                            <a asp-controller="Tablero" asp-action="Update" asp-route-id="@tablero.IdTablero" class="badge badge-primary">Actualizar</a>
                        </button>
                        <button class="btn btn-danger" onclick="confirmarBorrado('@tablero.IdTablero', '@tablero.Nombre')">
                            Borrar
                        </button>
                    </td>
                </tr>
            }
        }
        @if(Model.TablerosConTareas.Any()) {
            <th colspan="4" class="text-center">TABLEROS DE TAREAS ASIGNADOS</th>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Nombre del Propietario</th>
                <th scope="col">Opción</th>
            </tr>
            @foreach(Tablero tablero in Model.TablerosConTareas) {
                <tr>
                    <td>@tablero.Nombre</td>
                    <td>@tablero.Descripcion</td>
                    <td>@tablero.NombreUsuarioPropietario</td>
                    <td>
                        <button class="btn btn-success">
                            <a asp-controller="Tablero" asp-action="Update" asp-route-id="@tablero.IdTablero" class="badge badge-primary">Actualizar</a>
                        </button>
                        <button class="btn btn-danger" onclick="confirmarBorrado('@tablero.IdTablero', '@tablero.Nombre')">
                            Borrar
                        </button>
                    </td>
                </tr>
            }
        }
        @if(Model.TodosLosTableros.Any()) {
            <th colspan="4" class="text-center">TODOS LOS TABLEROS</th>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Nombre del Propietario</th>
                <th scope="col">Opción</th>
            </tr>
            @foreach(Tablero tablero in Model.TodosLosTableros) {
                <tr>
                    <td>@tablero.Nombre</td>
                    <td>@tablero.Descripcion</td>
                    <td>@tablero.NombreUsuarioPropietario</td>
                    <td>
                        <button class="btn btn-success">
                            <a asp-controller="Tablero" asp-action="Update" asp-route-id="@tablero.IdTablero" class="badge badge-primary">Actualizar</a>
                        </button>
                        <button class="btn btn-danger" onclick="confirmarBorrado('@tablero.IdTablero', '@tablero.Nombre')">
                            Borrar
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    function confirmarBorrado(tableroId, tableroNombre) {
        if (confirm("¿Estás seguro de que deseas borrar el tablero '" + tableroNombre + "'?")) {
            window.location.href = '/Tablero/Delete?id=' + tableroId;
        }
    }
</script>
