
@model tl2_tp10_2023_IvanDMir.ViewModels.LoginVM

@{
    ViewData["Title"] = "Iniciar Sesión";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha384-xrRPrHXG2L1rdM17+Dz3nqLh1F7vt2Kex9vJzIque7z4DaC/IM+XHQME4s2ypFEG" crossorigin="anonymous">
   
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Iniciar Sesión</h5>
                       <form asp-controller="Login" asp-action="Login" method="post"> 
                            <div class="mb-3">
                                <label asp-for="@Model.Nombre" class="form-label">Usuario</label>
                                 <input asp-for="@Model.Nombre" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Usuario">
                                 <span asp-validation-for="@Model.Nombre" class="text-danger"></span>    
                            </div>
                            <div class="mb-3">
                               <label asp-for="@Model.Contrasena" class="form-label">Contraseña</label>
                                <input asp-for="@Model.Contrasena" type="password" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña">
                                <span asp-validation-for="@Model.Contrasena" class="text-danger"></span>
                            </div>
                                        @if(!string.IsNullOrEmpty(Model.Error)) {
                         <p class="text-danger text-center mt-3">@Model.Error</p>
            }
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                            </div>   
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha384-L3h3eudvFqYZgfO9TJ7c3zy4j9KOeKA5QmAXbrn5cKGAz1r+z2A6JwNY5nK+OrYr" crossorigin="anonymous"></script>
</body>
</html>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}