@{ 
    ViewData["Title"] = "Añadir tarea";
}
@using tl2_tp10_2023_IvanDMir.ViewModels;
@model ATViewModel

<h1 class="text-center">@ViewData["Title"]</h1>
<form asp-controller="Tarea" asp-action="Add" class="p-4 rounded shadow-lg bg-light">
    <div class="form-group">
        <label for="tablero" class="fw-bold">Tablero</label>
        <select asp-for="@Model.IdTablero" class="form-select" id="tablero" required>
            @foreach(Tablero tablero in Model.TablerosAUsar) {
                <option value="@tablero.IdTablero">@tablero.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="NombreTarea" class="fw-bold">Nombre de la tarea</label>
        <input asp-for="@Model.Nombre" class="form-control" id="NombreTarea" required>
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label for="DescTarea" class="fw-bold">Descripción de Tarea</label>
        <input asp-for="@Model.Descripcion" class="form-control" id="DescTarea" required>
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label for="color">Color</label>
        <select asp-for="@Model.Color" class="form-select custom-select" id="color">
            <option value="Principal" style="background-color: #dc3545;">Principal</option>
            <option value="Necesaria" style="background-color: #ffc107;">Necesaria</option>
            <option value="Opcional" style="background-color: #17a2b8;">Opcional</option>
            <option value="Doble recompensa" style="background-color: #28a745;">Doble recompensa</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}