@{ 
    ViewData["Title"] = "Asignar Tarea";
}

@using tl2_tp10_2023_IvanDMir.ViewModels;
@model AsTVM;

<form asp-controller="Tarea" asp-action="Asignar">
    <input hidden asp-for = "@Model.Idtarea">
    <div class="form-group">
        <select asp-for="@Model.usuario" class="form-select">
            <label asp-for="@Model.usuario">Usuario al Asignar la Tarea</label>
                    @foreach(Usuario usuario in Model.UsuariosDisponibles) {
                        <option value="@usuario.id_usuario">@usuario.nombre_De_Usuario</option>
                    }  
                </select>
    </div>
    <button type="submit" class="btn btn-primary">Asignar</button>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}