@{
    ViewData["Title"] = "Home Page";
}

@using tl2_tp10_2023_IvanDMir.ViewModels;
@using tl2_tp10_2023_IvanDMir.repositorios;
@model GTViewModel;

<table class="table table-bordered table-dark text-center" style="background-color: #343a40;">
    <thead>
        <tr>
            <th colspan="8">LISTA DE TAREAS</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.TareasPropias.Any()) {
            <th colspan="8" class="text-center">TAREAS PROPIAS</th>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Color</th>
                <th scope="col">Estado</th>
                <th scope="col">Tablero al que pertenece</th>
                <th scope="col">usuario asignado</th>
                <th scope="col">Opcion</th>
            </tr>
            @foreach(Tarea tareas in Model.TareasPropias) {
                <tr>
                    <td>@tareas.Id</td>
                    <td>@tareas.Nombre</td>
                    <td>@tareas.Descripcion</td>
                    <td>@tareas.Color</td>
                    <td>@Enum.GetName(tareas.Estado)</td>
                    <td>@tareas.IdTablero</td>
                    <td>@tareas.IdUsuarioAsignado</td>
                    <td>
                        <button class="btn btn-success">
                            <a asp-controller="Tarea" asp-action="Update" asp-route-id="@tareas.Id" class="badge badge-primary" style="background-color: #28a745;">Actualizar</a>
                        </button>
                        <button class="btn btn-primary">
                            <a asp-controller="Tarea" asp-action="Asignar" asp-route-TareaId="@tareas.Id" class="badge badge-primary" style="background-color: #007bff;">Asignar</a>
                        </button>
                            <button class="btn btn-danger">
                                <a asp-controller="Tarea" asp-action="Delete" asp-route-id="@tareas.Id" class="badge badge-primary" style="background-color: #dc3545;">Borrar</a>
                            </button>
                    </td>
                </tr>
            }
        }
        @if(Model.TareasAsignadas.Any()) {
            <th colspan="8" class="text-center">TAREAS ASIGNADAS</th>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Color</th>
                <th scope="col">Estado</th>
                <th scope="col">Tablero al que pertenece</th>
                <th scope="col">usuario asignado</th>
                <th scope="col">Opcion</th>
            </tr>
            @foreach(Tarea tareas in Model.TareasAsignadas) {
                <tr>
                    <td>@tareas.Id</td>
                    <td>@tareas.Nombre</td>
                    <td>@tareas.Descripcion</td>
                    <td>@tareas.Color</td>
                    <td>@Enum.GetName(tareas.Estado)</td>
                    <td>@tareas.IdTablero</td>
                    <td>@tareas.IdUsuarioAsignado</td>
                    <td>
                        <button class="btn btn-success">
                            <a asp-controller="Tarea" asp-action="Update" asp-route-id="@tareas.Id" class="badge badge-primary" style="background-color: #28a745;">Actualizar</a>
                        </button>
                            <button class="btn btn-danger">
                                <a asp-controller="Tarea" asp-action="Delete" asp-route-id="@tareas.Id" class="badge badge-primary" style="background-color: #dc3545;">Borrar</a>
                            </button>
                    </td>
                </tr>
            }
        }
        @if(Model.TodasLasTareas.Any()) {
            <th colspan="8" class="text-center">TODAS LAS TAREAS</th>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Color</th>
                <th scope="col">Estado</th>
                <th scope="col">Tablero al que pertenece</th>
                <th scope="col">usuario asignado</th>
                <th scope="col">Opcion</th>
            </tr>
            @foreach(Tarea tareas in Model.TodasLasTareas) {
                <tr>
                    <td>@tareas.Id</td>
                    <td>@tareas.Nombre</td>
                    <td>@tareas.Descripcion</td>
                    <td>@tareas.Color</td>
                    <td>@Enum.GetName(tareas.Estado)</td>
                    <td>@tareas.IdTablero</td>
                    <td>@tareas.IdUsuarioAsignado</td>
                    <td>
                        <button class="btn btn-success">
                            <a asp-controller="Tarea" asp-action="Update" asp-route-id="@tareas.Id" class="badge badge-primary" style="background-color: #28a745;">Actualizar</a>
                        </button>
                            <button class="btn btn-danger">
                                <a asp-controller="Tarea" asp-action="Delete" asp-route-id="@tareas.Id" class="badge badge-primary" style="background-color: #dc3545;">Borrar</a>
                            </button>
                        
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
