@{ 
    ViewData["Title"] = "Actualizar tarea";
}

@using tl2_tp10_2023_IvanDMir.ViewModels;
@model UTViewModel

<form asp-controller="Tarea" asp-action="Update" class="p-4 rounded shadow-lg bg-light">
    <input hidden asp-for="@Model.Id">
    <input hidden asp-for="@Model.IdTablero">
    <div class="form-group">
        <label for="NombreTarea" class="fw-bold">Nuevo nombre de la tarea</label>
        <input asp-for="@Model.Nombre" class="form-control" id="NombreTarea" required>
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label for="Estado" class="fw-bold">Nuevo estado de la tarea</label>
        <select asp-for="@Model.Estado" class="form-select" id="Estado">
            <option value="Pendiente">Pendiente</option>
            <option value="Haciendo">Haciendo</option>
            <option value="Revisión">Revisión</option>
            <option value="Finalizada">Finalizada</option>
        </select>
    </div>
    <div class="form-group">
        <label for="DescTarea" class="fw-bold">Nueva descripción de la tarea</label>
        <input asp-for="@Model.Descripcion" class="form-control" id="DescTarea" required>
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label for="Color" class="fw-bold">Nuevo color de la tarea</label>
        <input asp-for="@Model.Color" class="form-control" id="Color" required>
        <span asp-validation-for="@Model.Color" class="text-danger"></span> 
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
