@{
    ViewData["Title"] = "Añadir Usuario";
}
@using tl2_tp10_2023_IvanDMir.ViewModels
@model AUViewModel

<h1>@ViewData["Title"]</h1>
<form asp-controller="Usuario" asp-action="Add" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="nombreDeUsuario" class="form-label">Nombre de usuario</label>
        <input asp-for="@Model.Nombre" class="form-control" id="nombreDeUsuario" required>
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span> 
           @if(!string.IsNullOrEmpty(Model.Error)) {
                <p class="text-danger text-center">@Model.Error</p>
            }
    </div>
    <div class="mb-3">
        <label for="contrasena" class="form-label">Contraseña</label>
        <input type="password" asp-for="@Model.Contrasena" class="form-control" id="contrasena" required>
        <span asp-validation-for="@Model.Contrasena" class="text-danger"></span> 
    </div>
    <div class="mb-3">
        <label for="rol" class="form-label">Rol Elegido</label>
        <select asp-for="@Model.Rol" class="form-select" required>
            <option value="0">Admin</option>
            <option value="1">Operador</option>
        </select>
        <span asp-validation-for="@Model.Rol" class="text-danger"></span> 
        
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}