@{ 
    ViewData["Title"] = "Actulizar Usuario";
}
@using tl2_tp10_2023_IvanDMir.ViewModels;
@model UUViewModel

<h1>@ViewData["Title"]</h1>
<form asp-controller="Usuario" asp-action="Update">
     <div class="form-group">
        <label for="@Model.Nombre">Nuevo nombre de usuario</label>
        <input asp-for = "@Model.Nombre" class="form-control" id="usuario">  
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label asp-for="@Model.Contrasena">Nueva contrasena</label>
        <input type="text" asp-for="@Model.Contrasena" class="form-control" id="nuevapassword">  
        <span asp-validation-for="@Model.Contrasena" class="text-danger"></span> 
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>